%h1= t('listing_tasks')

%table.table.table-bordered.table-hover.col-md-12
  %thead
    %tr.row
      %th.col-md-9= t('name')
      %th.col-md-1
      %th.col-md-1
      %th.col-md-1

  %tbody
    - @tasks.each do |task|
      %tr.row
        %td= task.name
        %td
          = link_to task do
            %i.glyphicon.glyphicon-eye-open
        %td
          = link_to edit_task_path(task) do
            %i.glyphicon.glyphicon-pencil
        %td
          = link_to task, method: :delete, data: { confirm: I18n.t('sure') } do
            %i.glyphicon.glyphicon-trash
%br
= link_to t('new_task'), new_task_path
