%h1 Listing tasks

%table.table.table-bordered.table-hover.col-md-12
  %thead
    %tr.row
      %th.col-md-9 Name
      %th.col-md-1
      %th.col-md-1
      %th.col-md-1

  %tbody
    - @tasks.each do |task|
      %tr.row
        %td= task.name
        %td
          = link_to task do
            %i.glyphicon.glyphicon-eye-open
        %td
          = link_to edit_task_path(task) do
            %i.glyphicon.glyphicon-pencil
        %td
          = link_to task, :method => :delete, :data => { :confirm => 'Are you sure?' } do
            %i.glyphicon.glyphicon-trash
%br
= link_to 'New Task', new_task_path
